
<div class="row">

  <hr>
    <div class="form-group">
      <label for="sala[]">Numero de sala</label>
      <input type="text" name="sala[]" class="form-control"  required value="{{funcion.N_SALA}}">
    </div>
    <div class="form-group">
      <label for="inicio[]">Inicio de la funcion</label>
      <input type="text" name="inicio[]" class="form-control calendar"  required value="{{funcion.HORA_INICIO}}">
    </div>
    <div class="form-group">
      <label for="fin[]">Fin de la funcion</label>
      <input type="text" name="fin[]" class="form-control calendar"  required value="{{funcion.HORA_FIN}}">
    </div>
    <div class="form-group">
      <label for="capacidad[]">Capacidad</label>
      <input type="text" name="capacidad[]" class="form-control" required value="{{funcion.CAPACIDAD}}">
    </div>                                    

</div>
