<div class="row">
  <div class="  col-md-12 col-lg-12">
    <div class="page-header">
      <h1>Registrar un anuncio en un espectacular</h1>
    </div>
  </div>
</div>
<div class="row">
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <p>Selecciona que anunciara cada espectacular</p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">
            <div class="form-group">
              <label for="slugar">Selecciona el espectacular a modificar</label>
              <select name="slugar" class="form-control" required ng-options="x.UBICACION for x in ubicaciones" ng-model="slugar">
              </select>
              <div>
                <address ng-show="slugar">
                  <strong>Ubicacion</strong>: {{slugar.UBICACION}} <br>
                  <strong>Zona</strong>: {{slugar.ZONA}} <br>
                  <strong>Tipo</strong>: {{slugar.TIPO}} <br>
                </address>
              </div>   
              <div id="mapa"></div>           
            </div>        
          </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="form-group">
              <label for="sevento">Selecciona el evento</label>
              <select name="sevento" class="form-control" required ng-options="x.TITULO for x in eventos" ng-model="sevento" ng-change="cargarAnuncios()">
              </select>
            </div>              
          </div>
        </div>

        <form action="{{site + '/agregar/anuncio'}}" method="POST">

        <div class="row col-lg-offset-2 col-md-offset-2">
          <h5>Selecciona la publicidad</h5>
          <div ng-repeat="pb in publicidad">
            <!-- Aqui van los anuncios registrados -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
               <div class="well">
                  <input type="hidden" name="selectlugar" value="{{slugar.ID_ESPECTACULAR}}">
                  <input type="hidden" name="selectevento" value="{{sevento.ID_EVENTO}}">
                  <img ng-src="{{pb.URL_IMAGEN}}" class="img-thumbnail cartel-preview"><br>
                  <label>Seleccionar</label>
                  <input type="radio" name="selectpb" value="{{pb.ID_PUBLICIDAD}}">
                </div>            
            </div>          
          
        </div>    
        </div>
        <div class="row col-lg-offset-2 col-md-offset-2">
          <button type="submit" class="btn btn-success">Agregar anuncio</button>
        </div>
        </form>
      </div>
    </div>
    
  </div>
</div>